RewriteEngine On

# POST Requests (Form Submissions) Redirect නොවී ආරක්ෂා කිරීම
RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^\ ]+)\.php\ HTTP/
RewriteRule ^([^\ ]+)\.php$ /Isaro-Automation/$1 [R=301,L]

# Internal Rewrite
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]